@import "@/assets/sass/_variables.scss";

.latest-musics {
    max-width: 80vw;
    padding: 1em 3em;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        color: $text-color;
    }

    &__more {
        color: $primary-color;
    }

    &__list {
        background-color: $background-content-color;
        // aspect-ratio: 3/1;
        border-radius: 12px;
        display: flex;
        flex-wrap: nowrap;
    }
}