@import "@/assets/sass/_variables.scss";

.music-card {
    max-width: 8em;
    margin: 0.75em;

    img {
        max-width: 8em;
    }

    &__description {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__title {
        color: $text-color;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    &__span {
        color: $secondry-color;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
    }

    &__icon-more {
        rotate: 90deg;
    }

    &__option {
        position: relative;
    }
}