@import "@/assets/sass/_variables.scss";


.playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin: 80px 0px;

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        display: flex;
        align-items: center;
        text-align: right;

        color: $text-color;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 24px;
        gap: 28px;
        width: 100%;
        height: 288px;
        border-radius: 24px;
        order: 1;
        position: relative;
        // overflow: scroll;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
        gap: 32px;
        width: 100%;
        height: 240px;
        order: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0px;
        gap: 12px;
    }

    &__img {
        width: 196.4px;
        height: 204px;
        border-radius: 16px;
    }

    &__music-name {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: right;
        color: rgba(255, 255, 255, 0.8);
        margin: 0px;
    }

    &__music-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        order: 1;
        align-self: stretch;
    }

    &__arrow-right {
        position: absolute;
        right: 0px;
        margin-left: 10px;
    }

    &__arrow-left {
        position: absolute;
        left: 10px;
        margin-right: 2%;
    }
}

.poster {
    background-image: url(@/assets/img/Rectangle-13.png);
    background-size: cover;
    border-radius: 30px;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    position: relative;

    &__image {
        width: 264px;
        height: 250px;
        border-radius: 30px;
    }

    &__desc {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &__lyrics {
        width: 464px;
        height: 175px;

        font-weight: 100;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        color: rgba(255, 255, 255, 0.6);

        display: flex;
        flex-direction: column;
        justify-content: center;
        direction: rtl;

        &__more {
            color: $primary-color;
        }
    }

    &__arrow-down {
        width: 8.55px;
        height: 5.03px;
        padding-right: 10px;
    }

    &__title {
        font-size: 32px;
        color: $text-color;
        margin: 0px;
        font-size: 32px;
        line-height: 45px;
    }

    &__detail {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $secondry-color;
        gap: 10px;
    }

    &__seperator {
        color: $text-color;
    }

    figure {
        position: relative;
    }

    &__btn-play {
        width: 68px;
        height: 68px;
        position: absolute;
        right: -20px;
        bottom: -20px;
    }

    &__share-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        img {
            width: 36px;
            height: 36px;
        }
    }

    &__options {
        position: absolute;
        right: 472px;
        top: 244px;
    }

    &__edit-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 48px;

        position: absolute;
        width: 1262px;
        height: 775px;
        right: 298px;
        top: 124px;
    }

    .music-info__content {
        background: #353535 !important;
        z-index: 999;
        order: 999;
        // width: 1262px;
        // right: 0px;
        // top: 0px;
    }

    .music-info__title {
        display: none;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 0px;
    gap: 20px;
    isolation: isolate;
    width: 231px;
    height: 168px;

    background: $background-elm-color;
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 10px;
    order: 2;

    &__row {
        display: flex;
        flex-direction: row-reverse;
        // align-items: flex-start;
        padding: 0px 14px;
        gap: 10px;
        flex: none;
        position: relative;
        // order: 2;

        &::after {
            content: "";
            position: absolute;
            bottom: -13px;
            right: 13px;
            width: 204px;
            height: 0px;
            border: 1px solid rgba(255, 255, 255, 0.24);
            transform: rotate(180deg);
            order: 3;
            flex-grow: 0;
            z-index: 3;
        }
    }

    &__desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        display: flex;
        align-items: center;
        text-align: right;

        color: $text-color;
    }

    &__icon {
        width: 24px;
        height: 24px;
        flex: none;
        order: 1;
    }
}